services:
  user-service:
    build: 
      context: .
      dockerfile: ./services/user-service/Dockerfile
    ports:
      - "${USERSERVICE_PORT}:8080"
    environment:
      - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_FORMAT=${LOG_FORMAT}
      - LOG_OUTPUT=${LOG_OUTPUT}
      - REQUEST_ID_HEADER=${REQUEST_ID_HEADER}
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
      - USERSERVICE_PORT=${USERSERVICE_PORT}
    depends_on:
      migrator:
        condition: service_completed_successfully
    networks:
      - go-ecommerce-backend-network

  product-service:
    build: 
      context: .
      dockerfile: ./services/product-service/Dockerfile
    ports:
      - "${PRODUCTSERVICE_PORT}:8080"
    environment:
      - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_FORMAT=${LOG_FORMAT}
      - LOG_OUTPUT=${LOG_OUTPUT}
      - REQUEST_ID_HEADER=${REQUEST_ID_HEADER}
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
      - PRODUCTSERVICE_PORT=${PRODUCTSERVICE_PORT}
    depends_on:
      migrator:
        condition: service_completed_successfully
    networks:
      - go-ecommerce-backend-network

  cart-service:
    build: 
      context: .
      dockerfile: ./services/cart-service/Dockerfile
    ports:
      - "${CARTSERVICE_PORT}:8080"
    environment:
      - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_FORMAT=${LOG_FORMAT}
      - LOG_OUTPUT=${LOG_OUTPUT}
      - REQUEST_ID_HEADER=${REQUEST_ID_HEADER}
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
      - CARTSERVICE_PORT=${CARTSERVICE_PORT}
    depends_on:
      migrator:
        condition: service_completed_successfully
    networks:
      - go-ecommerce-backend-network

  order-service:
    build: 
      context: .
      dockerfile: ./services/order-service/Dockerfile
    ports:
      - "${ORDERSERVICE_PORT}:8080"
    environment:
      - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_FORMAT=${LOG_FORMAT}
      - LOG_OUTPUT=${LOG_OUTPUT}
      - REQUEST_ID_HEADER=${REQUEST_ID_HEADER}
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
      - ORDERSERVICE_PORT=${ORDERSERVICE_PORT}
    depends_on:
      migrator:
        condition: service_completed_successfully
    networks:
      - go-ecommerce-backend-network

  api-database:
    image: postgres:13
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - go-ecommerce-backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 10

  migrator:
      image: migrate/migrate:v4.17.0
      depends_on:
        api-database:
          condition: service_healthy
      volumes:
        - ./pkg/db/migrations:/migrations:ro
      command:
        [
          "-path", "/migrations",
          "-database", "postgres://${DB_USERNAME}:${DB_PASSWORD}@api-database:5432/${DB_NAME}?sslmode=${DB_SSLMODE}",
          "up"
        ]
      networks:
        - go-ecommerce-backend-network
      restart: "no"

  pgweb:
    image: sosedoff/pgweb
    depends_on:
      api-database:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@api-database:5432/${DB_NAME}?sslmode=${DB_SSLMODE}
    ports:
      - "8088:8081"
    networks:
      - go-ecommerce-backend-network
    restart: "no"

volumes:
  db-data:

networks:
  go-ecommerce-backend-network:
    driver: bridge

