services:
  user-service:
    build: 
      context: .
      dockerfile: ./services/user-service/Dockerfile
    ports:
      - "${USERSERVICE_PORT}:8080"
    environment:
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - event-booking-api-network

  event-service:
    build: 
      context: .
      dockerfile: ./services/event-service/Dockerfile
    ports:
      - "${EVENTSERVICE_PORT}:8080"
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_FORMAT=${LOG_FORMAT}
      - LOG_OUTPUT=${LOG_OUTPUT}
      - REQUEST_ID_HEADER=${REQUEST_ID_HEADER}
      - API_PREFIX=${API_PREFIX}
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - event-booking-api-network

networks:
  event-booking-api-network:
    driver: bridge
