services:
  user-service:
    build: 
      context: .
      dockerfile: ./services/user-service/Dockerfile
    ports:
      - "${USERSERVICE_PORT}:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - event-booking-api-network

  event-service:
    build: 
      context: .
      dockerfile: ./services/event-service/Dockerfile
    ports:
      - "${EVENTSERVICE_PORT}:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - event-booking-api-network

networks:
  event-booking-api-network:
    driver: bridge
